/* Write your CSS here */
.list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.arrow {
  width: 10%;
}

.suggestion {
  color: black;
}
